<div class="foot-container">
  <div class="link-container">

      <div class="footer-links-left">
        <a href="#">FIND A VIRGIN COMPANY</a>
        <a href="#">SPOTLIGHT</a>
        <a href="#">PODCASTS</a>
        <a href="#">RICHARD</a>
        <a href="#">VIRGIN UNITE</a>
        <a href="#">NEWS</a>
        <a href="#">VIRGIN RED</a>
      </div>
      <br>
      <div class="footer-links-right">
        <a href="#">CAREER</a>
        <a href="#">CONTACT</a>
        <a href="#">VIRGIN GROUP</a>
        <a href="#">TERMS AND CONDITIONS</a>
        <a href="#">PRIVACY POLICY</a>
        <a href="#">MODERN SLAVERY ACT</a>
        <a href="#">TAX STRATEGY STATEMENT</a>
      </div>
  </div>
  <div class="foot-logo">
</div>


</div>
