.nav-container {
  display: flex;
  justify-content: space-between;
  padding-left: 7em;
  margin-bottom:5em;
  padding: 1em;
  background-color: #2d2d2d;
  width: 100%;

}

.nav-container a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-icons {
  width: 25em;
  background-color: black;


}
