.nav-container {
  display: flex;
  justify-content: space-between;
  padding-left: 7em;
  margin-bottom:5em;
  background-color: brown;
  width: 100%;

}

.nav-icons {
  width: 25em;
  background-color: black;


}
