<div class="nav-container">
  <img class="nav-logo "src="#" alt="virgin mobile logo">

  <a class="nav-links"href="#">SPOTLIGHT</a>
  <a class="nav-links"href="#">PODCASTS</a>
  <a class="nav-links"href="#">RICHARD</a>
  <a class="nav-links"href="#">SPOTLIGHT</a>
  <a class="nav-links"href="#">SPOTLIGHT</a>
  <a class="nav-links"href="#">SPOTLIGHT</a>

  <div class="nav-icons">
    <a class="icon"href="#"></a>
    <a class="icon"href="#"></a>
    <a class="icon"href="#"></a>
    <a class="icon"href="#"></a>
  </div>

  <i></i>


</div>
