.landing-container {
  border: 1px solid red;
  height: 49em;
  background-image: url("https://res.cloudinary.com/www-virgin-com/w_auto,c_scale,dpr_auto,f_auto,fl_lossy,q_auto/virgin-com-prod/profiles/site_installer/themes/custom/virgin/images/bg-main.png?1553521991");
}

.landing-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0,0,0,0.5);
  color: white;
  width: 32em;
  max-width: 680px;
  height: 4em;
  text-align: center;
  margin: 0 15%;
  padding: 40px;
  font-size: 29px;
  font-family: serif;
}


.flag-container {
  background-color: white;
  border: 1px solid black;
  width: 10%;
  height: 9em;
}
